[Unit]
Description=Kafka
Before=
After=network.target

[Service]
User=kafka
#this seems to work on centos
#CHDIR= {{ kafka_root_dir }}
#this is for ubuntu 16
Environment="JAVA_HOME=/usr/lib/jvm/java-8-oracle" "JRE_HOME=/usr/lib/jvm/java-8-oracle/jre" "KAFKA_OPTS=-javaagent:/usr/share/java/jolokia-{{ jolokia_version }}/agents/jolokia-jvm.jar=port={{ kafka_jolokia_port }},host=0.0.0.0"
ExecStart={{ kafka_root_dir }}/kafka/bin/kafka-server-start.sh {{ kafka_root_dir }}/config/server.properties
Restart=on-failure
[Install]
WantedBy=multi-user.target