[Unit]
Description=confluent-schema-registry
Before=
After=network.target kafka-broker.service

[Service]
User=kafka
ExecStartPre=/bin/sleep 10
Environment="KAFKA_HEAP_OPTS='{{rest_proxy_HEAP_OPTS}}'"
ExecStart=/usr/bin/kafka-rest-start /etc/confluent-kafka-rest/confluent-kafka-rest.properties
Restart=on-abort

[Install]
WantedBy=multi-user.target
